Repository silasjoisten/sonata-multiupload-bundle, pull requests merged in 2022-05, with the labels that each got.

#136 MultiUploadController arguments not configured properly
  src/Resources/config/controller.yaml
Labels: bug

#145 Enhancement: Increase minimum requirement of symfony-http-responder
  README.md
  composer.json
  src/Controller/MultiUploadController.php
Labels: enhancement, dependency

#156 Fix: Prevent render Multiupload in Collection Modal
  src/Controller/MediaAdminController.php
Labels: bug

#155 Add more flexibility by not decorating default controller
  .gitignore
  src/Admin/MultiUploadAdminExtension.php
  src/Controller/CreateController.php
  src/Controller/MultiUploadController.php
  src/Resources/config/controller.yaml
Labels: enhancement
